.carousel-container {
  position: relative;
  width: 100%;
  height: 80vh; /* Regola l'altezza desiderata */
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adatta l'immagine senza distorcerla */
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Transizione sfumata */
}

.carousel-image.active {
  opacity: 1;
}